/*Color-3*/

/*button*/
.button:hover {background-color: #e34931;}


/*blockquote*/
blockquote{border-left: 3px solid #e34931;}

/*dropcap*/
.dropcap {background: #e34931;}

/*Toggle*/
#toggle-view span {background:#e34931;}

/*back to top button*/   
#back-top a:hover span {background-color: #e34931;}

/* =============================================================================
   HOVER IMAGE PORTFOLIO
   ========================================================================== */
.view-info-portfolio a.info:hover {
	background: #e34931 url(../img/link-portfolio.png) no-repeat center center;
}
.view-info-portfolio a.view-item:hover {
	background: #e34931 url(../img/view-portfolio.png) no-repeat center center;
}
.view-col2 .mask-1, .view-col2 .mask-2 {background:  rgba(227,73,49, 0.3);}
.view-col3 .mask-1, .view-col3 .mask-2 {background:  rgba(227,73,49, 0.3);}
.view-col4 .mask-1, .view-col4 .mask-2 {background:  rgba(227,73,49, 0.3);}
.view a.info:hover {background: #e34931;}
/* =============================================================================
   PORTFOLIO ( 2 3 4 ) COLUMNS
   ========================================================================== */
.our-portfolio-col:hover #our-portfolio-col-info{border-bottom: 2px solid #e34931} 
#portfolio-filter li a:hover {background: #e34931;}
.selected-item{background: #e34931 !important}
/* =============================================================================
   Header - Logo & Menu 
   ========================================================================== */
.logo {background:url(../img/logo-color/logo-3.png) no-repeat left center;}

/* =============================================================================
   NAVIGATION MENU
   ========================================================================== */
.slected-menu{background: #e34931;}
#main-navigation ul li a:hover, #main-navigation ul li.current-menu-ancestor > a {
	background: #e34931;
}
#main-navigation ul li a#visited {
	background: #e34931;
}

#main-navigation ul ul li, #main-navigation ul ul li a {
	background: rgba(227,73,49, 0.7);
}
#main-navigation ul ul li a {
border-bottom: 1px solid #f88a79;
}
/* =============================================================================
   BREADCRUMB
   ========================================================================== */
.beadcrumb-title{background: url(../img/beadcrumb-color/beadcrumb-3.png) no-repeat left center;}
.breadcrumbs ul li a:hover{color: #e34931;}

/* =============================================================================
   Home - Service 
   ========================================================================== */
.service-home a{color: #e34931;}
/* =============================================================================
   About us - Our Team
   ========================================================================== */
.our-team-col:hover .our-team-col-info{border-bottom: 2px solid #e34931} 
/* =============================================================================
   About us - Progress Bars Our Skill
   ========================================================================== */
.meter > span {
	background-color: #e34931;
}
/* =============================================================================
   About us - Services
   ========================================================================== */
.service-menu li:hover .service-icon{
    color: #e34931;
}
.service-menu li:hover .service-main{
    color: #e34931;
}
.service-menu li:hover .service-sub{
    background-color: #e34931;
}

/* =============================================================================
   Blog - Blog list
   ========================================================================== */
#blog-list ul li .blog-title a:hover{color: #e34931}

#blog-info-wraper{border-left: 3px solid #e34931;}
#blog-info-wraper a:hover{color: #e34931}


/* =============================================================================
   Contact Form
   ========================================================================== */

#contact-form input[type="submit"]:hover{ background: #e34931}

/* =============================================================================
   Sidebar
   ========================================================================== */

/* Sidebar - Categories */
.sidebar-categories ul li a:hover{ color: #e34931;}

/* Sidebar - Recent post */
.sidebar-recent-post ul li a:hover{ color: #e34931;}

/* Sidebar - Tags */
.sidebar-tags ul li a:hover{ background: #e34931;}

/* Sidebar - Tabs */
#tab .nav li a.current{border:1px solid #e34931;background: #e34931;}

#tab #comment span a:hover{ color:#e34931;}

#tab #archive li a:hover{ color:#e34931; }

/* =============================================================================
   Search form 
   ========================================================================== */
.searchform .searchbutton{
	background: #e34931;
}

/* =============================================================================
   Pagination
   ========================================================================== */
.pagination ul li a.select{background: #e34931;}
.pagination ul li a:hover{ background: #e34931;}

/* =============================================================================
   FOOTER
   ========================================================================== */

.widget a:hover{color: #e34931; }

.footer-copyright a{color:#e34931;}

/* =============================================================================
   jBar Plugin Styles
   ========================================================================== */
.jBar {
	border-bottom:5px solid #e34931;
}
/* ==========================================================================
   Mosaic Style
   ========================================================================== */
	
/*** Custom Animation Styles (You can remove/add any styles below) ***/
.circle .mosaic-overlay {
	background:#e34931 url(../img/hover-magnify.png) no-repeat center center ;
}
#related ul li:hover a{color: #e34931}